<!DOCTYPE html>
<html ng-app='myApp'>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  <script type="text/javascript" src="bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="bootstrap-multiselect.css" type="text/css"/>
  <script type="text/javascript" src="bootstrap-multiselect.js"></script>
  <script src="https://code.angularjs.org/1.5.7/angular.js"></script>
  <script src='https://code.angularjs.org/1.5.7/angular-route.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.5.1/jQuery.print.min.js'></script>
  <script src='index.js'></script>
  <link href="styles.css" rel="stylesheet">

</head>
<body>

  <div class='col-sm-3 leftPanel'>
  <div ng-controller='searchCtrl' class='search'>
    <h3 style='margin-top: 0px;'> Event Search </h3>
    Keywords:<br>
    <input type='text' class='userIn' id='keywords'></input><br>
    City or Zip Code: <br>
    <input type='text' id='loc' class='userIn' value='New York City'></input><br>
    Radius: <br>
    <input type='text' id='rad' class='userIn' value='5'></input><br>
    Category: <br>
    <select id='category_dropdown' class='userIn' name='category_dropdown' multiple='multiple'></select> <button class='btn btn-default' ng-click='deselectCategories()'>Clear</button><br>
    Date:<br>
    <input type='text' class='userIn' id='dateTo' ng-value='defaultToDate()'/> to <input type='text' class='userIn' id='dateFrom' ng-value='defaultFromDate()'/><br><br>
    Results per Page:<br>
    <input type='text' class='userIn' id='resultsPerPage' value='10'></input><br>
    <br>

    <button class='btn btn-default' ng-click='clearParameters()'>Clear All</button><br><br>
    <button class='btn btn-default' id='searchButton' ng-click='search(1)'>Search</button><br><br>

  </div>

  <div ng-controller='eventListCtrl' class='eventLists'>
    <h3>Existing Event Lists</h3>
    <select id='eventListDropdown'ng-model='selEventList' ng-change='listOptionSelection()'>
      <option ng-repeat='list in lists' ng-value='list._id'>{{list.name}}</option>
      <option value='Add New List'>Add New List</option>
    </select><br><br>

    <!-- Add a list modal -->
    <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="exampleModalLabel">Add a list</h5>
          </div>
          <form ng-submit='addList()'>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="control-group row-fluid form-inline">
              <label for="name" class="control-label"><p class="text-info">Name*&nbsp;</p></label>
                <div class="controls">
                    <input type="text" id="newListName" placeholder="Enter list name" class="span3" required>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type='submit' class='btn btn-primary' value='Add to List'></input>
          <!--  <button type="button" class="btn btn-primary" ng-click='addList()'>Add to List</button> -->
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- Add an event modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Add an Event</h5>
          </div>
          <form ng-submit='addEventtoDB(list_id, eventComment)'>
          <div class='modal-body'>
            <div class="form-horizontal">
              <div class="control-group row-fluid form-inline">
                <label for='list' class="control-label"><p class="text-info">Select List(s)*&nbsp;</p></label>
                <select id='list_dropdown' class='userIn' name='event_dropdown' ng-model='list_id' multiple='multiple' required></select>
                <label for='comment' class='control-label'><p class='text-info'>Comment</p></label>
                <input id='eventComment' type='text' ng-model='eventComment' placeholder='Leave a comment' class='span3 input-xxlarge'></input>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type='submit' class='btn btn-primary' value='Add'></input>
          <!--  <button type="button" class="btn btn-primary" ng-click='addList()'>Add to List</button> -->
          </div>
        </form>
        </div>
      </div>
    </div>


  </div>
  </div>

  <div ng-controller='resultCtrl' id='eventResultList' class='results col-sm-6'>

    <!--Print Modal -->
    <div class="modal fade" id="printingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title">Print Specifications</h5>
          </div>
          <form ng-submit='printPage()'>
          <div class='modal-body'>
            <div class="form-horizontal">
              <div class="control-group row-fluid form-inline">
                <div class="checkbox">
                  <label><input id='listNameForPrinting' type="checkbox" checked='true' value=""> List Name</label>
                </div><br>
                <div class="checkbox">
                  <label><input id='nameForPrinting' type="checkbox" checked='true' value=""> Event Names</label>
                </div><br>
                <div class="checkbox">
                  <label><input id='addressForPrinting' type="checkbox" checked='true' value=""> Addresses</label>
                </div><br>
                <div class="checkbox">
                  <label><input id='startDateForPrinting' type="checkbox" checked='true' value=""> Start Dates</label>
                </div><br>
                <div class="checkbox">
                  <label><input id='endDateForPrinting' type="checkbox" checked='true' value=""> End Dates</label>
                </div><br>
                <div class="checkbox">
                  <label><input id='descriptionForPrinting' type="checkbox" checked='true' value=""> Descriptions</label>
                </div><br>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type='submit' class='btn btn-primary' value='Print'></input>
          <!--  <button type="button" class="btn btn-primary" ng-click='addList()'>Add to List</button> -->
          </div>
        </form>
        </div>
      </div>
    </div>

    <div id='userSearchView'>
      <div class='eventListMetadata' ng-show='meta'>
        <span ng-hide='searchView'> {{getListName()}}'s List <button class='btn btn-info' id='printButton' ng-click='printModal()'>Print List</button> <br></span>
        {{getNumberOfResults()}}<br>
        {{getCurrPage()}}<br>
        {{getTotalPage()}}
        <div ng-controller='searchCtrl' class='prevNextButtons' ng-show='searchView'>
          <button ng-disabled="showPrevButton()" class='btn btn-default' ng-click='prevPage()' id='prevBtn'>Prev Page</button>
          <button ng-disabled='showNextButton()' class='btn btn-default' ng-click='nextPage()' id='nextBtn'>Next Page</button>
        </div>
      </div>

      <ul class='eventList' ng-repeat='event in events'>
        <div class='eventListing' ng-click='showEvent($index)'>
          <li>
            {{truncate(event.title)}}<br>
            <strong>Starts:</strong> {{convertTime(event.start_time)}} <strong>Ends:</strong> {{convertTime(event.stop_time)}}<br>
            <strong>Where:</strong> {{event.venue_name}}   &nbsp;&nbsp;&nbsp;<strong>Address:</strong> {{event.venue_address || 'Not Available'}}
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div ng-controller='eventCtrl' class='showEvent col-sm-3' ng-show='selEvent'>
    <img ng-src='{{showImg()}}' height='120px' width='120px'><br>
    {{showName()}}<br>
    <button class='btn btn-primary' ng-click='addEvent()'>Add Event to List </button><br>
    <a target="_blank" ng-href="{{selEvent.url || null}}">Eventful Link</a><br>
    <div ng-show='selEvent.tickets'><a target='_blank' ng-href='{{showTickets()}}'>Tickets</a><br></div>

    {{'Address: ' + (selEvent.venue_address || 'Not Available')}}<br>
    {{selEvent.description || ''}}<br>

  </div>

</body>
</html>
