.leftPanel{
  height: 100vh;
  padding-right: 0px;
  border-right: 1px solid #d9d9d8;
  padding-left: 0px;
}
.search{
  height: 65vh;
  padding-left: 15px;
}

.eventLists{
  border-top: 1px solid #d9d9d8;
  height: 35vh;
  padding-left: 15px;
}

.results{
  padding: 0px;
  border-right: 1px solid #d9d9d8;
}

.eventList{
  padding-left: 0px;
  margin-bottom: 0px;
}

.eventListing {
  overflow: hidden;
  width: auto;
  height: 9vh;
  border-bottom: solid 1px #d9d9d8;
  list-style-type: none;
  margin-right: 0px;
  padding-top: 5px;
  padding-left: 5px;
  cursor: pointer;
}
.eventListing:hover{
  border: solid 2px #3333ff;
}

.prevNextButtons{
  float: right;
}

.showevent{
  float:right;
}

.eventListMetadata{
  height: 10vh;
  border-bottom: 1px solid #d9d9d8;
  padding-left: 5px;

}

#printButton{
  float:right;
}
